/ p
/   strong
/     | Commenter:
/   = comment.user.first_name+" "+comment.user.last_name
/ p
/   strong
/     | Comment:
/   = comment.content
/ p
/   = link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }
