.avt-cmt
  height: 2.5rem
  width: 2.5rem

.input-cmt
  border-radius: 50%

.card-cmt
  padding: 1rem
  background: #f0f2f5
  border-radius: 1.5rem

.more-options:hover
  background: #f0f2f5
  cursor: pointer
  width: 1.75rem
  height: 1.75rem

.more-options
  margin-left: 0.25rem
  width: 1.75rem
  height: 1.75rem
  cursor: pointer

.dd-item
  padding: 0.5rem 1rem
.dd-item:hover
  background-color: #f0f2f5
  cursor: pointer

.button-default
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit
.btn-submit
  color: #0570e7
