.carousel-container
  .inner-carousel
    .track
      .card-container
        .card.card1
      .card-container
        .card.card2
      .card-container
        .card.card3
      .card-container
        .card.card4
      .card-container
        .card.card5
      .card-container
        .card.card6
      .card-container
        .card.card7
      .card-container
        .card.card8
      .card-container
        .card.card9
      .card-container
        .card.card10
          | 1
      .card-container
        .card.card11
          | 1
      .card-container
        .card.card12
          | 12
    .nav
      button.prev
        i.fas.fa-arrow-left.fa-2x
      button.next
        i.fas.fa-arrow-right.fa-2x
