nav.navbar.navbar-light.bg-light.justify-content-between
  a.navbar-brand
    | Navbar
.btn-group.position-absolute.top-0.end-0
  button.btn.btn-secondary.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
    |  Right 
  .dropdown-menu.dropdown-menu-right
    button.dropdown-item[type="button"]
      | Action
    button.dropdown-item[type="button"]
      | Another action
    button.dropdown-item[type="button"]
      | Something else here
