$white: #FFFFFF
$black: #000000

$grey: #b8c2de
$grey-bg: #eee
$grey-btn: #f6f7fb
$grey-hover: #e6f2ff
$grey-text: #666666

$dark: #0E1529
$focus-color: #495057
$input-color: #b8b9bc
$blue: #007acc
$grey-text: #666666
